<div class="container mt-5">
  <div class="card ">
    <div class="d-flex justify-content-between p-3">
      <div class="image">
        <img src="https://img.icons8.com/color/96/000000/angularjs.png" alt="logo" width="90">
        <!-- <img src="https://www.tomoetek.fr/tomotek.png" alt="logo" width="90"> -->
      </div>
      <div class="quiz-header">
        <h4 style="font-family: cursive;">{{titre}}</h4>
        <span style="font-style: italic;">Questionnaire numéro {{ id }}</span>
      </div>
    </div>
    <div *ngIf="!isQuizCompleted" class="d-flex justify-content-around py-3">
      <div class="score">
        <h5>{{points}} points</h5>
      </div>
      <div class="question-remain">
        <span style="font-style: italic;">Question {{currentQuestion+1}} sur {{questionList.length}}</span>
      </div>
      <div class="timer">
        <h5> <span [ngClass]="{'hurge': counter < 30}">{{counter}}</span>  sec &#9201;</h5>
      </div>
    </div>
    <ng-container *ngIf="!isQuizCompleted">
      <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [ngStyle]="{'width':progress+'%'}"
          aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="question">
        <div class="card">
          <h3>{{questionList[currentQuestion]?.intitule}}</h3>
        </div>
      </div>
      <div class="options">
        <ol *ngFor="let reponse of questionList[currentQuestion]?.reponse">
          <li (click)="answer(currentQuestion+1,reponse)">
            <div appChangeBg [isCorrect]="reponse.bonneReponse" class="card">
              {{reponse.choix}}
            </div>
          </li>
        </ol>
      </div>
      <div class="d-flex justify-content-between">
        <button [disabled]="currentQuestion===0" class="btn" (click)="previousQuestion()">
          <fa-icon class="fa-3x text-success" [icon]="faChevronLeft"></fa-icon>
        </button>
        <button class="btn" (click)="resetQuiz()">
          <fa-icon class="fa-3x text-success" [icon]="faRedo"></fa-icon>
        </button>
        <button class="btn" (click)="nextQuestion()">
          <fa-icon class="fa-3x text-success" [icon]="faChevronRight"></fa-icon>
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="isQuizCompleted">
      <div class="row d-flex justify-content-between">
        <img *ngIf="success" style="width: 50%;" class="img-fluid col-sm-12 mx-auto" src="assets/success.png" alt="">
        <img *ngIf="!success" style="width: 50%;" class="img-fluid col-sm-12 mx-auto" src="assets/fail.png" alt="">
        <div class="result text-center col-md-6 col-sm-12">
           <h2>{{petitMot}} <br>Vous avez fini le quiz. <br>Votre résultat:</h2>
           <p>Total questions : {{questionList.length}}</p>
           <p>Réponses correctes : {{correctAnswer}}</p>
           <p>Réponse incorrectes : {{incorrectAnswer}}</p>
           <p>Votre score : {{points}} Points</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
