<div class="container mt-5">
  <div class="card bg-white rounded-md shadow">
    <div class="flex justify-content-between p-3 bg-teal-500 rounded-t-md">
      <!-- <div class="flex-auto image">
        <img src="https://img.icons8.com/color/96/000000/angularjs.png" alt="logo" width="90">
        <img src="https://www.tomoetek.fr/tomotek.png" alt="logo" width="90">

      </div> -->
      <div class="flex-auto rounded-l-xl border-l-4 border-white quiz-header pt-2 pl-2 text-white">
        <span class="text-xl">Questionnaire numéro {{ id }}</span>
        <h4 class="text-4xl" >{{titre}}</h4>
        <div *ngIf="currentQuestion < questionList.length" class="question-remain">
          <span style="font-style: italic;">Question {{currentQuestion+1}} sur {{questionList.length}}</span>
        </div>
      </div>
      <div *ngIf="!isQuizCompleted" class="flex-end border-2 border-white shadow-inner bg-green-100 p-3 rounded-3xl">
        <div class="score text-2xl">
          <h5>{{points}} points</h5>
        </div>

        <div class="text-2xl mt-3 timer">
          <h5> <span [ngClass]="{'hurge': counter < 30}">{{counter}}</span>  sec &#9201;</h5>
        </div>
      </div>
    </div>

    <ng-container *ngIf="!isQuizCompleted">
      <div class="w-full bg-gray-200 h-1 mb-6">
        <div class="bg-teal-400 h-1" [ngStyle]="{'width':progress+'%'}"></div>
      </div>
      <div class="question">
        <div class="shadow-inner p-2 rounded">
          <h3 class="text-2xl text-teal-500">{{questionList[currentQuestion]?.intitule}}</h3>
          <div class="text-2xl">{{questionList[currentQuestion]?.content}}</div>
        </div>
      </div>
      <div class="options">
        <ol *ngFor="let reponse of questionList[currentQuestion]?.reponse">
          <li  (click)="answer(currentQuestion+1,reponse)">
            <div appChangeBg [isCorrect]="reponse.bonneReponse" class="shadow p-2 hover:border-2 border-teal-500">
              {{reponse.choix}}
            </div>
          </li>
        </ol>
      </div>
      <div class="flex ">

        <!-- <button [disabled]="currentQuestion===0" class="w-1/4 m-3 bg-teal-500 rounded-full" (click)="previousQuestion()">
          <fa-icon class="text-white" [icon]="faChevronLeft"></fa-icon>
        </button> -->
       <button class="w-1/5 m-3 bg-teal-500 rounded-xl shadow text-white" (click)="resetQuiz()">
          <fa-icon class="" [icon]="faRedo"></fa-icon> <span> Recommencer</span>
        </button>
        <div class="w-3/5"></div>

        <button class="w-1/5 m-3 bg-teal-500 rounded-xl shadow text-white" (click)="nextQuestion()">
          <span>Passer </span> <fa-icon class="" [icon]="faChevronRight"></fa-icon>
        </button>


      </div>
    </ng-container>
    <ng-container *ngIf="isQuizCompleted">
      <!-- TODO: translate tailwind -->
      <div class="flex justify-content-between">
        <img *ngIf="success" style="width: 50%;" class="flex-1 m-2" src="assets/success.png" alt="">
        <img *ngIf="!success" style="width: 50%;" class="flex-1 m-2" src="assets/echec.png" alt="">
        <div class="result flex-1 text-center m-2 p-2">
           <h2 class="text-3xl text-teal-500">{{petitMot}} </h2>
           <h3 class="text-2xl">Votre résultat : </h3>
           <div class="p-1 shadow-inner">
            <p>Total questions : {{questionList.length}}</p>
            <p>Réponses correctes : {{correctAnswer}}</p>
            <p>Réponse incorrectes : {{incorrectAnswer}}</p>
            <p>Votre score : {{points}} Points</p>
           </div>

        </div>
      </div>
    </ng-container>
  </div>
</div>
