<div class="container bg-light py-5">
  <h1 class="display-5 fw-bold">Salut sur l'app de Quizz</h1>
  <p class="col-md-8 fs-4">
    Ce quizz contient 9 questions. Chaque question vaut 10 points
  </p>
  <h4>Règles:</h4>
  <ol>
    <li>Une réponse correct vaut 10 points</li>
    <li>Une réponse fausse enlève 10 points</li>
    <li>Vous aurez 60 secondes pour répondre</li>
    <li>Ne rafraîchissez pas la page sous peine de perdre votre progression</li>
  </ol>
  <h1 style="font-family: cursive;text-align: center;">Bon courage</h1>
  <div class="name col-md-4 my-3">
    <label for="">Entrez votre nom</label>
    <input #name type="text" class="form-control">
  </div>
  <button class="btn btn-primary btn-lg" (click)="startQuiz()" routerLink="/question">
    Commencer
  </button>
</div>
